<h1>Sign up as a buyer</h1>

<%= form_for @buyer do |f|%>
	<p><%=f.label 'Name: '%><br><%=f.text_field :buyer_name%></p>
	<p><%=f.label 'Address: '%><br><%=f.text_area :buyer_address%></p>
	<p><%=f.label 'Contact Details: '%><br><%=f.text_area :buyer_contact%></p>
	<p><%=f.label 'Username: '%><br><%=f.text_field :buyer_username%></p>
	<p><%=f.label 'Password: '%><br><%=f.password_field :buyer_password%></p>
	<p><%=f.submit%>
<%end%>
