<h1>Edit Product</h1>

<%= form_for @product, url: edit_tailor_product_path(@tailor, @product) do |f|%>
	<p><%=f.label 'Product Name: '%><br><%=f.text_field :product_name%></p>
	<p><%=f.label 'Description: '%><br><%=f.text_area :product_description%></p>
	<p><%=f.label 'Price: '%><br><%=f.text_field :price%></p>
	<p><%=f.submit%>
<%end%>
